<div class="container mt-3">
    <form>
        <div class="mb-3">
            <label for="mediaType" class="form-label">Selecione o tipo de mídia:</label>
            <select class="form-select" id="mediaType">
                <option value="audio">Somente Áudio</option>
                <option value="video">Vídeo</option>
            </select>
        </div>
        <div class="mb-3" id="resolutionDropdownDiv" style="display:none;">
            <label for="resolution" class="form-label">Resolução:</label>
            <select class="form-select" id="resolution">
                <!-- As opções de resolução serão preenchidas dinamicamente pelo JavaScript -->
            </select>
        </div>

        <div class="mb-3">
            <label for="link" class="form-label">Nome do vídeo:</label>
            <input type="text" class="form-control" id="link" value="{{videoInfo.name}}">
        </div>


        <button type="submit" class="btn btn-primary">Baixar</button>
    </form>
</div>

{{{name}}}