<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">An easy way to download YouTube Videos</h1>
            <p class="col-lg-10 fs-4">Enjoy effortless YouTube video downloads with our user-friendly tool. Just
                paste the link and click Start Download NOW!</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="post" action="download">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="link" name="link" placeholder="Paste your YT link">
                    <label for="link">Paste your YT link</label>
                </div>
                <hr class="my-4">
                <button class="w-100 btn btn-lg btn-primary" type="submit">Config Download NOW</button>
            </form>
        </div>
    </div>
</div>